<div class="container-fluid">
  <div class="test-card">
    <div class="test-card-content">
      <h2>Pick your current habit!</h2>
      <%= @question.content  %>
      <div class="answers-wrapper">
          <% @question.answers.each do |answer|  %>
            <div class="answer">
              <%= link_to "", class: "btn btn-ghost" do %>
                <%= answer.content %>
              <% end %>
            </div>
          <% end %>
          <%= render "form" %>
      </div>
      </div>
      <%= render "footer" %>
  </div>
</div>
