<div class="container">
  <div class="dashboard_details">

    <h2 class="m-3">
      <b><%= challenge.name %></b>
      <%# <hr> %>
    </h2 class="m-3">
    <div class="m-2 pt-3 border-top">
      <% if challenge.difficulty == 1 %>
        <b></b><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>
      <% elsif challenge.difficulty == 2 %>
        <b></b><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i>
      <% elsif challenge.difficulty == 3 %>
        <b></b><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
      <% end %>
        <% if  challenge.duration == 1%>
          <b>/ </b>
          <%= challenge.duration %> day
        <% else %>
          <b>/  </b>
          <%= challenge.duration %> days
        <% end %>
        <b>/  </b>
      <%= challenge.max_score / 7%> <i class="fa-solid fa-leaf"></i>
    </div>
    <%# <hr> %>
    <div class="d-flex justify-content-between ">
      <div class="m-2 p-2 border-top" >
          <p  class="mt-3"><%= challenge.description_why %></p>
      </div>
    </div>
    </div>
  </div>
