<div class="challenge-card-small justify-content-between">
  <%= image_tag "#{challenge.category}.png"%>
  <div class="row justify-content-between">
    <%# <div class ="col-4 d-flex flex-column"> %>
    <%# <div class="challenge-card-small-infos" style="justify-content-between text-align: center"> %>
    <%# </div> %>
    <%# </div> %>
    <div class ="col-8">
      <h3><%= challenge.name %></h3>
      <h4 class="text-center">Difficulty: <%= challenge.difficulty %></h4>
      <h5><%= challenge.max_score %>  <i class="fa-solid fa-leaf"></i></h5>
    </div>
  </div>
  <div class="me-3">
    <%#= link_to dashboard_path do %>
      <%# <i class="fa-solid fa-plus fs-4"></i>  Add to your dashboard %>
      <%# end %>
      <%= link_to challenge_path(challenge), class: "btn btn-info challenge-card-show-detail-text w-100 mb-2" do %>
        <i class="fa-solid fa-info"></i>
      <% end %>
      <% unless current_user.challenges.include?(challenge) %>
        <%= render "user_challenges/user_challenge_create_form", challenge: challenge, user_challenge: @user_challenge %>
      <% end %>
    </div>
  </div>
</div>
