<div class="challenge-card-small mb-3">
  <%= image_tag challenge.category%>
  <div class="chalenge-card-small-infos">
    <h2><%= challenge.name %></h2>
    <div class="container">
      <h6>Level: <%= challenge.difficulty %></h6>
      <h6><%= challenge.score %> points</h6>
    </div>
    <p><%= challenge.description %></p>
  </div>
</div>
