<!--
<div class="banner" style="background-position: center; background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%=image_path"139606_s.jpg"%>);">
</div>
-->
<div class="container" style="padding-top: 20px">
  <div class="container" style="text-align: center">
    <h1>Browse All Challenges</h1>
    <p>Filter through all of our challenges, and choose which ones you'd like to try to start your plastic-free journey!</p>
  </div>
  <div class="d-flex justify-content-center">
    <%= simple_form_for :challenge, url: challenges_path, method: :get, data: { controller: 'autosave' } do |f| %>
      <div class="d-flex mt-3">
        <div class="me-5">
          <h5>Category</h5>
          <%= f.input :category,
            as: :radio_buttons,
            input_html: { class: "category-selector" },
            item_wrapper_class: 'category-item',
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'category-wrapper',
            item_wrapper_class: 'category-item',
            input_html: {class: 'category-selector'},
            collection: ["Food", "Hygiene", "Cleaning"],
            legend_html: { class: "d-none"}
             %>
        </div>
        <div>
          <h5>Difficulty</h5>
          <%= f.input :difficulty,
            as: :radio_buttons,
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'category-wrapper',
            item_wrapper_class: 'category-item',
            input_html: {class: 'category-selector'},
            collection: [1, 2, 3],
            label: false
             %>
        </div>
        <div class="d-flex justify-content-center align-items-center font-weight-bold">
          <button class="btn btn-info btn-lg rounded-pill" type="submit"><b>Search</b></button>
        </div>
      </div>
    <% end %>
  </div>
</div>
<% @challenges.each do |challenge| %>
  <%# unless current_user.challenges.include?(challenge) %>
    <%= render 'challenges/card', challenge: challenge %>
  <%# end %>
<% end %>
